<div class="body-container">
    
    <div class="heading">
        <h1>Employee Updation</h1>
    </div>
    
    <%= render "employee_form", employee: @edit_employee %>

    <div class="bottom-button">
        <%= link_to "Employee Home", employees_path, class:"btn btn-info" %>
    </div>

</div>
