<div class="body-container">
  <p style="color: green"><%= notice %></p>

  <h1>Products</h1>

  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show #{product.title}", product, class:"btn btn-info" %>
      </p>
    <% end %>
  </div>

  <%= link_to "All Products", products_path, class:"btn btn-info" %>  
</div>
