<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <% if current_user.present? %>
            <li class="nav-item active">
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-link nav-link" %>
            </li>

            <li class="nav-item active">
              <a href="<%= profile_path %>", class="nav-link"> <i class="bi bi-person-circle"></i> </a>
            </li>
        <% end %>
      <li class="nav-item">
        <%= link_to "Products", products_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Orders", orders_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
